<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <application android:networkSecurityConfig="@xml/network_security_config">
        <receiver android:name=".DebugPollReceiver" android:exported="true" android:permission="android.permission.DUMP" />
    </application>
</manifest>
